{% extends 'index.html.twig' %}

{% block main %}
<main>
    <h1 class="text-body-emphasis">New request</h1>
    <form action="/add" method="post">
        <div class="mb-3">
            <label for="url" class="form-label">URL</label>
            <input type="text" class="form-control" id="url" name="url" required>
            <div class="invalid-feedback">
                Please enter a valid URL.
            </div>
        </div>
        <div class="mb-3">
            <label for="method" class="form-label">Method</label>
            <select class="form-select" id="method" name="method" required>
                <option value="GET">GET</option>
                <option value="POST">POST</option>
                <option value="PUT">PUT</option>
                <option value="DELETE">DELETE</option>
            </select>
            <div class="invalid-feedback">
                Please select a valid method.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add new</button>
    </form>
</main>
{% endblock main %}
